/* ----- Texts and IMG ------------------------------ */
h1 {
    color: #75B79E;
    font-family: "Roboto", "Sans-serif";
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.4%;

    text-align: center;
    margin-top: 40px;
    margin-bottom: 47px;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

p {
    display: block;
    color: #eef9bf;
    font-family: "Roboto", "Sans-serif";
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

/* ----- Tags and Divs ------------------------------ */
body {
    background-color: #eef9bf;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 906px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #A7E9AF;
    border: #99CEA8 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.front-face {
    transform: rotateY(180deg);
}

.back-face:hover {
    cursor: pointer;
}

.rotate-front-face {
    transform: rotateY(0deg);
}

.rotate-back-face {
    transform: rotateY(-180deg);
}

.container-clock {
    position: absolute;
    top: 120px;
    width: 100%;
}

.clock {
    background-color: #75B79E;
    margin-left: auto;
    margin-right: auto;

    width: 100px;
    border-radius: 10px;
}

/* ----- Media Query ------------------------------ */
@media (max-width: 540px) {
    .container-clock {
        top: 186px;
    }
}
@media (max-width: 335px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
    }
    p {
        font-size: 18px;
    }
    .container-clock {
        top: 147px;
    }
}